body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

@keyframes plane {
  0% {
    transform: translate(0);
    rotate: 0deg;
  }
  25% {
    transform: translate(200px, 80px);
    rotate: -90deg;
  }
  50% {
    transform: translate(200px, 80px);
    rotate: -180deg;
  }
  65% {
    transform: translate(150px, 65px);
    rotate: -240deg;
  }
  100% {
    transform: translate(0);
    rotate: -360deg;
  }
}

/* Сховані елементи */

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* outline: 1px solid chartreuse; */
}

/* Скидання параметрів елементів */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}
