.address {
  display: flex;
  flex-direction: column;

  max-width: 231px;
  width: 100%;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus,
.address__link:hover {
  color: $blue-accent;
}

.address__location {
  color: $white-accent;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}
