.page-footer {
  background-color: $secondary-bg;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
}

.page-footer__address {
  display: flex;
  flex-direction: column;

  max-width: 231px;
  width: 100%;
}

.page-footer__logo {
  width: 100%;
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus,
.address__link:hover {
  color: $blue-accent;
}

.address__location {
  color: #ffffff;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}

/* Приєднуйтесь */

.page-footer__join {
  margin-top: 12px;
  margin-left: 70px;
}

.join__heading {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: flex;
  gap: 10px;
}

.join__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover,
.join__link:focus {
  background-color: $blue-accent;
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* ---------- Підпишіться на розсилку ---------- */

.page-footer__subscribe {
  margin-left: 93px;
  margin-top: 12px;

  width: 100%;
}

.subscribe__heading {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.subscribe__field {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}

.subscribe__field:focus {
  outline: transparent;
  border: 1px solid $blue-accent;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  padding: 10px 28px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: $blue-accent;
  color: #ffffff;

  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe__button:focus {
  outline: transparent;
  border: 1px solid $blue-accent;
}

.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;

  fill: #ffffff;

  transform-origin: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}

.subscribe__button:hover .subscribe__icon {
  fill: $blue-accent;
}

.subscribe__button:focus .subscribe__icon {
  fill: $blue-accent;

  animation-name: plane;
  animation-duration: 1750ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
